.movie-detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(52, 51, 51);
}

.image-movie {
    margin: 90px 10% 100px 200px
}

.detail-movie {
    width: 500px
}

.detail {
    margin-bottom: 20px;
}

.detail-infor {
    background-color: grey;
    color: white;
    border: 2px solid white;
}

.movie-espisode {
    background-color: rgb(52, 51, 51);
    padding-bottom: 50px;
}

.episode-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
    /* Adjust the gap between cards as needed */
}

.episode-card {
    width: auto;
    max-width: 60px;
    height: 50px;
    /* Adjust the width of each card and consider the gap */
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

}

.button-function {
    margin-top: 20px;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.button-children {
    background-color: red;
    color: white;
    margin-right: 10px;
}

.selected {
    background-color: #e0e0e0;
    color: red;
}

.add-episode {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border: 1px solid black;
    margin-bottom: 10px;
}