.login-container {
    background-color: black;
    display: flex;
    height: 100vh;
}
.login {
    color: white;
    background-color: rgb(95, 90, 90);
    margin-top: 8%;
    margin-left: 33%;
    padding: 20px; /* Add some padding inside the border */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 450px;
    border: 2px solid black; /* Add a 2px solid border with a light gray color */
    border-radius: 20px;
  }
  
.title {
    margin-bottom: 40px;
    position: relative;
    font-size: 30px;
    font-weight: 700;
}

.login form .ant-form-item-required {
    padding-top: 10px;
    font-size: 16px; /* Set the font size to 20 pixels (adjust as needed) */
    color: white;
  }
/* Additional styles for form elements (optional) */
.login form item {
    width: 60%;
    max-width: 400px;
}
.login .ant-input, .ant-input-password{
    font-size: 20px;
  }

.button-login {
    background-color: red;
    width: 60%;
    height: 50px;
    font-size: 20px;
}

.button-login:hover{
    background-color: black;
}

.forgot-password {
    padding-left: 10%;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: color 0.5 ease-in-out;
}
.forgot-password:hover {
    color: #609df2;
}

.ant-typography a {
    color: white;
}
.sign-up-now {
    font-size: 16px;
}
