.container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
#id_che-do {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border: none;
    overflow: hidden;
}

#id_che-do::-moz-focus-inner {
    border: 0;
}

#id_che-do:focus {
    outline: none;
}

#id_che-do option {
    height: 100px;
    width: 200px;
    font-size: 50px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border: rgb(204, 204, 0) solid 1px;
    border-radius: 5px;
    color: azure;
    background-color: red;
}
.d-flex {
    padding-top: 10%;
    padding-bottom: 2%;
    margin: 0 auto;
    display: block;
}
.d-flex-container {
    padding-bottom: 2%;

    
}

.row-1 {
    max-height: 80%;
    padding-top: 50px;
    padding-right: 5%;
    
    padding-left: 5%;
}
.kq {
    padding-top: 100px;
    padding-right: 5%;
    padding-left: 5%;
}
.button-order {
    height: 100px;
    width: 200px;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: flex;
    cursor: pointer;
    border: rgb(204, 204, 0) solid 1px;
    border-radius: 5px;
    color: azure;
    background-color: red;
}
.button-search {
    height: 100px;
    width: 200px;
    font-size: 40px;
    padding: 0 0 0 0;
    text-align: center;
    margin-top: 20px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    border: rgb(204, 204, 0) solid 1px;
    border-radius: 5px;
    color: azure;
    background-color: red;
}
.search-wrapper.searchWrapper {
    border-bottom: 1px solid red;
    min-height:100px;
  
}
.chip.false {
    background: red;
    margin-left: 70px;
    margin-right: 30px;
    height: 80px;
    width:600px;
    font-size:50px;
}
.multiselectContainer {
    color: red;
    height: 100px;
}
.optionContainer {
    height: 1000px;
  
}
.option {
    height: 100px;
    font-size: 50px;
    padding-left: 100px;

   
}
.checkbox {
    -ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3); /* Opera */
    transform: scale(3);
    margin: 0 0 10px 30px;

    #text {
        margin-left: 100px;
      
    }
}
#search_input.searchBox {
    font-size: 50px;
}
.icon_cancel.closeIcon {
    max-width: 100%;
    height: auto;
}
.ant-btn css-dev-only-do-not-override-qgg3xn {
    margin-top:50px;
}
.kq-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}