.navbar-logo {
  color: rgb(255, 0, 0);
  margin-top: 5px;
  font-size: 25px;
}

.ant-tabs-ink-bar {
  height: 5px;

}

.ant-tabs-tab {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  color: white;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: red;
  text-shadow: 0 0 0.25px currentcolor;
}

.NavBar {
  background-color: rgb(35, 33, 33);
  margin-bottom: 0;
}

.signIn {
  margin-top: 10px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.user-icon {
  margin-top: 15px;
  height: 35px;
  width: 35px;
  border: 2px solid black;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  background-color: white;
}

.user-icon:hover {
  transform: scale(1.1);
}

.user-choices {
  background-color: rgb(208, 196, 196);
  padding: 4px;
  border-radius: 10px;
  position: absolute;
  width: 130px;
  z-index: 99;
}

.user-tab {
  flex-direction: column;
}

.choice {
  width: 100%;
  color: black;
  padding: 3px;
  cursor: pointer;
  border-radius: 10px;

}

.choice:hover {
  background-color: #f0f4ff;
}

ul {
  list-style-type: none;
}