.manage-category-container {
    background-color: rgb(95, 90, 90);
    padding: 50px 5% 5% 5%;
    height: auto;
    min-height: 100vh;
}

.ant-table-cell {
    background-color: rgb(204, 200, 200);
    border-right: 1px solid black;
}

.manage-category-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.manage-category-title {
    color: white;
    text-transform: uppercase;
}