.card {
    display: inline-block;
    width: 800px;
    height:1200px;
    position: relative;

    margin: 0 20px 40px 20px;
}

img {
    height: 1050px;
    object-fit: cover;
    width: 100%;
}
imog {
    
    object-fit: cover;
    width: 100%;
}

.ten-phim {
    color: azure;
    font-weight: bold;
    font-size: 60px;
    height: 300px;

    object-fit:cover;
}

.text-box {
   
}
.last-update {
    color: azure;
    font-size: 60px;
    height:100px;
}

.update-info-layer {
    position: absolute;
    z-index: 1;
    bottom: 200px;
    padding-left: 10px;
    height: 400px;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.thumbnail-box {
    display: block;
  
    height: 1000px;
}
.xem-ngay {
    background-color: red;
    height: 100px;
    width: 400px;
    font-size: 50px;
    margin: 0 auto;
    display: block;
}
.button-contain {
    height: 200px;
}
