.List-container {
  max-height: 80%;
  overflow: scroll;
  padding-top: 50px;
}

.phim-theo-the-loai {
  // margin: 0 5% 0 5%;
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  // padding: 5% 5% 5% 5%;
  display: block;
  position: center;
  background-color: rgb(60, 59, 59);

}

.Movies {
  background-color: rgb(45, 44, 44);
  padding-top: 5%;
  padding-bottom: 5%;
}

.Home {
  background-color: rgb(45, 44, 44);
  padding-bottom: 5%;
}