.List-container {
    max-height:80%;
    overflow: scroll;
    padding-top: 50px;
}
.phim-theo-the-loai {
    padding-right: 5%;
    padding-top: 5%;
    padding-left: 5%;
    display: block;
    position: center;
}

